body {
	background-image: url("images/strawberries.jpg");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Josefin Sans', sans-serif;
}

h1, h2 {
	text-align: center;
	color: white;
}

h1 {
	font-family: 'Pacifico', cursive;
	font-size: 8vw;
	text-shadow: 5px 5px 0px black;
}

h2 {
	font-size: 3vw;
	text-shadow: 2px 2px 0px black;
}

p, li {
	font-size: 1.5vw;
}

li {
	padding: 0.5vh 0;
}

h3 {
	font-family: 'Pacifico';
	font-size: 4vw;
}

.splash {
	height: 80vh;
	width: auto;
}

.pillar {
	width: 60vw;
	margin-left: auto;
	margin-right: auto;
	padding: 1vh 3vw;

	background: rgba(250,250,250,0.9);
	box-shadow: 9px 9px 5px black;
}

@media (max-width: 800px) {
	h1 {
		margin: 20vh 0 0 0;
	}
	h3 {
		font-size: 12vw;
	}
	p, li {
		font-size: 5vw;
	}
	.pillar {
		position: absolute;
		left: 0;
		box-shadow: none;
		width: auto;
	}
}
